.audit-tips ul {
  padding-left: 1rem;
}
.low {
  color: #4caf50;
}
.medium {
  color: #ffa000;
}
.high {
  color: #f44336;
}

.audit-tips {
  h3{
    margin: 0;
    padding: 10px;
  }
  ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    li {
        padding: 0 10px 3px 10px;
    }
  }
  
}